#animateLogo>img{
    display: none;
    border-radius: 72px;
    -webkit-border-radius: 72px;
    -moz-border-radius: 72px;
    border-style: solid;
    border-width: 6px;
    border-color: #f5a623;
    width: 150;
    height: 150;
        }
    #animateLogo>img:first-child {
        display: block;
    }
    #logoText{
        float: left;
        padding: 3.5px;
    }
.tab_v {
  float: left;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
  box-sizing: border-box;
}

/* Style the buttons inside the tab */
.tab_v button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab_v button:hover {
  background-color: #f5a623;
}

/* Create an active/current "tab button" class */
.tab_v button.active {
  background-color: #f5a623;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 300px;
  box-sizing: border-box;
}
#flu .tab-wrap, #gastro .tab-wrap , #pinkeye .tab-wrap , #utr .tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  /*margin: 40px 0;*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#flu .tab-wrap:hover, #gastro .tab-wrap:hover , #pinkeye .tab-wrap:hover , #utr .tab-wrap:hover  {
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.tab {
  display: none;
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) , .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) , .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) , .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) , .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) , .tab:checked:nth-of-type(6) ~ .tab__content:nth-of-type(6) , .tab:checked:nth-of-type(11) ~ .tab__content:nth-of-type(11) , .tab:checked:nth-of-type(16) ~ .tab__content:nth-of-type(16){
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  text-shadow: 0 0 0;
}


.tab:first-of-type:not(:last-of-type) + label, #gastro .tab:first-of-type:not(:last-of-type) + label , #pinkeye .tab:first-of-type:not(:last-of-type) + label, #utr .tab:first-of-type:not(:last-of-type) + label{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tab:checked + label {
  background-color: #f5a623;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}
.tab:checked + label:hover  {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #f5a623;
}
.tab + label  {
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
}
.tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab__content  {
  padding: 10px 25px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  border-radius: 6px;
}
.disease-icon{
    float:left;
    padding:5px;
}
.hide {
  display: none;
}
.map-container {
  text-align: center;
}
