<!DOCTYPE html>
<html>
  <head>
    <title>Leaflet</title>
    <!--<script type="text/javascript" src="eon-map.js"></script>-->
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.7.js"></script>


   <script type="text/javascript" src="https://pubnub.github.io/eon/v/eon/1.1.0/eon.js"></script>
    <link type="text/css" rel="stylesheet" href="https://pubnub.github.io/eon/v/eon/1.1.0/eon.css"/>

     <!-- <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.sparkline.min.js"></script>
         -->
      <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
       <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>


    <style type="text/css">
      body {
        padding: 0px;
        margin: 0px;
      }
    </style>

  </head>
  <body>
    <div style="width: 100%; height:500px" id="map"></div>
    <div id='map'></div>
    <div id='msg'></div>
    <script>
      function getNonZeroRandomNumber(){
        var random = Math.floor(Math.random()*199) - 99;
        if(random==0) return getNonZeroRandomNumber();
        return random;
      }
    </script>
    <script>
      var pubnub = new PubNub({
        publishKey: 'pub-c-59f395ef-c07a-486a-82a1-3ad84a286db3',
        subscribeKey: 'sub-c-62049fb8-26c1-11e9-9ee5-ae9cce607226'
      });
      //var channel = 'pubnub-mapbox' + getNonZeroRandomNumber();
      var channel = 'pubnub-mapbox'
      var map = eon.map({
        pubnub: pubnub,
        id: 'map',
        mbToken: 'pk.eyJ1IjoiZG9vbWFobiIsImEiOiJjanJva3g0MGowNGFvNDRwNmNmdXk3Ymx2In0.dHjGj5mZVbr0Hi_jD_oNkw',
        mbId: 'ianjennings.l896mh2e',
        channels: [channel],
        message: function(data) {
        //map.setView(data.latlng,10);
        var marker = L.marker(data.latlng);

        marker.bindPopup('Disease alert: '+data.dis+' at '+data.time);
        marker.addTo(map);
      },
        history: true,
        options: {
          zoom: 10.5,
          center: [-20.2759451, 57.5703566]
        }
      });

 //Client-side Javascript code for handling random numbers
 var loc_arr = [];
$(document).ready(function(){
    //connect to the socket server.
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    var lat, lng;
     socket.on('connect', function() {
                console.log("Connection successful");
            });
    //receive details from server
    socket.on('newdata', function(msg) {
        console.log("Received data");

        lat = msg.lat;
        lng = msg.lng;
        console.log(lat + " " + lng);

        var point = {
          latlng: [msg.lat, msg.lng],
          dis: msg.dis,
          time: msg.time
        };

        pubnub.publish({
            channel: channel,
            message: point,
            storeInHistory: true
}
          );


    });
});

pubnub.history(
{
    channel: channel,
    count: 20,
    stringifiedTimeToken: true // false is the default
    },
    function (status, response) {
        console.log(JSON.stringify(response));
        var data = response;
        var msg = data.messages;
        for (var i=0; i<msg.length; i++){
            var obj = msg[i];
            var entry = obj.entry;
            var mark = L.marker(entry.latlng);
            mark.addTo(map);
            mark.bindPopup('Disease alert: '+entry.dis+' at '+entry.time);
        }
}

    );



     /* function connecting(message) {
        var point = {
          latlng: [-20.2233014, 57.5382649]
        };
        setInterval(function(){
          /*var new_point = JSON.parse(JSON.stringify(point));

            new_point.latlng = [
            new_point.latlng[0] + (getNonZeroRandomNumber() * 0.1),
            new_point.latlng[1] + (getNonZeroRandomNumber() * 0.2)
          ];
          var new_point = {
             message
          }

          pubnub.publish({
            channel: channel,
            message: new_point
          });
        }, 1000);
      };*/


        
    /*
      (function(){

    // PubNub (For Data Push to User)
    var p = PUBNUB.init({
        subscribe_key : 'sub-c-62049fb8-26c1-11e9-9ee5-ae9cce607226',
        ssl           : false
    });

    // Setup New Data Push Connectoin via PubNub
    p.addListener({
      message: function (message) {
    lat = message['lat'];
    lng = message['lng'];}
});
    p.subscribe({
        channel  : 'mapdata'
      });

  });*/

    </script>
  </body>
</html>