<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maurihealth Disease Search</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome.min.css')}}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/templatemo-style.css')}}">

    <!--custom css file-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom_file.css')}}">

    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/b-1.5.6/b-flash-1.5.6/b-html5-1.5.6/r-2.2.2/sc-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/b-1.5.6/b-flash-1.5.6/b-html5-1.5.6/r-2.2.2/sc-2.0.0/datatables.min.js"></script>
    
    <!--
    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
    -->
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.21.7.js"></script>


    <script type="text/javascript" src="https://pubnub.github.io/eon/v/eon/1.1.0/eon.js"></script>
    <link type="text/css" rel="stylesheet" href="https://pubnub.github.io/eon/v/eon/1.1.0/eon.css"/>
    

</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
        <div id="animateLogo" class="navbar-brand" style="width: 13%; height: 13%px;">
            <img src="{{url_for('static', filename='img/4.png')}}" width="75%" height="75%" />
            <img src="{{url_for('static', filename='img/3.png')}}" width="75%" height="75%"/>
            <img src="{{url_for('static', filename='img/2.png')}}" width="75%" height="75%"/>
            <img src="{{url_for('static', filename='img/1.png')}}"  width="75%" height="75%"/>
        </div>
        <div class="navbar-brand" style="width: 20%; height: 20%px;">
            <img src="{{url_for('static',filename='img/iconText2.png')}}"  style="float: left; padding: 2px;" width="100%" height="100%" /> 
        </div>

                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home')}}">
                                <i class="fas fa-home"></i>
                                Home
                                
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-chart-line"></i>
                                <span>
                                    Disease analytics <i class="fas fa-angle-down"></i>
                                </span>
                                
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{url_for('detect')}}">
                                <i class="fas fa-stethoscope"></i> Disease Detection</a>
                                <a class="dropdown-item" href="{{url_for('predict')}}">
                                <i class="fas fa-heartbeat"></i> Disease Prediction</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('map_realtime')}}">
                                <i class="fas fa-map-marked-alt"></i>
                                Live map
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="{{url_for('search')}}">
                                <i class="fas fa-search"></i>
                                Search
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <!--- LANGUAGE SETTINGS ---->
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                               <!--<i class="fas fa-cog"></i>  -->
                                <span id='MicrosoftTranslatorWidget' class='Dark' style='color:white;background-color:#555555'>
                                    <!--<i class="fas fa-angle-down"></i>-->
                                </span>
                            </a>

                        </li>
                        <!--
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                    Settings <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Billing</a>
                                <a class="dropdown-item" href="#">Customize</a>
                            </div>
                        </li>-->
                    </ul>
                    
                </div>
            </div>
        </div>

        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="mt-5 mb-5" style="text-align: center; font-size: 20px; color: #f5a623;">Disease Detection
                        <br>
                        <i>For Mauritius</i></p>
                </div>
            </div>
            <div class = "row" style="padding: 20px;">
                <div class="col" style="border-style: solid; border-width: 2px; border-color: #f5a623; padding: 20px;">
                    <p class="text-white"> You can search disease information based on one of the four diseases keyword <i>(Flu, Gastro, Conjunctivitis, Respiratory Infection)</i> or on any date.
                        <br>
                        The ALARM is set to TRUE if an outbreak has been detected.
                    <br>
                    Click the <i>Copy</i> button to copy search results to clipboard.
                    <br>
                    Click the <i>PDF</i> button to download search results as PDF file. </p>
                    
                </div>
            </div>
                <!-- Load icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

           <!-- The form -->
           <!--<form class="example" action="" method="post" style="padding-bottom: 20px;">
            <table align="center">
               <tr><td> 
                <input type="text" placeholder="Enter disease name" name="search"></td><td>
                <button type="submit" class="w3-circle w3-black w3-hover-orange"><i class="fas fa-search"></i></button>
            </td></tr>
        </table>
            </form>-->



            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <!--<h2 class="tm-block-title">Orders List</h2>-->
                        <h1 class="tm-block-title" style="margin-left: 500px;">{{nodata}}</h1>
                        <table id="myTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">{{disease_header}}</th>
                                    <th scope="col">{{epoch_header}}</th>
                                    <th scope="col">{{observed_header}}</th>
                                    <th scope="col">{{alarm_header}}</th>

                                </tr>
                            </thead>
                            <tbody>
                            {% for item in myvalue %}
                                <tr>
                                    <td><b>{{item.disease}}</b></td>
                                    <td><b>{{item.epoch}}</b></td>
                                    <td><b>{{item.observed}}</b></td>
                                    <td><b>{{item.alarm}}</b></td>
                                </tr>
                            {% endfor %}
                            <!--for search page(displaying all values from db)-->
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
            <div class="container">
  <div class="row">
      <div class="p-3 mb-2 bg-dark text-white w-100 h-100"><h3 style="text-align:left;float:left;">Total Number of Cases</h3>

{% for item in totcases %}
                <h3 style="text-align:right;float:right;">{{item.numCases}}</h3>
{% endfor %}

      </div>
      <div class="w-100"></div>
      <div class="p-3 mb-2 bg-primary text-white w-50 h-100"><p><h5 style="text-align: center;">Influenza</h5></p>
            {% for item in cases_influenza %}
                <p style="text-align: center;">{{item.numCases}}</p>
            {% endfor %}
      </div>
      <div class="p-3 mb-2 bg-success text-white w-50 h-100"><p><h5 style="text-align: center;">Gastroenteritis</h5></p>

              {% for item in cases_gastro %}
                <p style="text-align: center;">{{item.numCases}}</p>
            {% endfor %}

      </div>

      <div class="w-100"></div>
      <div class="p-3 mb-2 bg-danger text-white w-50 h-100 d-inline-block"><p><h5  style="text-align: center;">Conjunctivitis</h5></p>

              {% for item in cases_conjunc %}
               <p style="text-align: center;">{{item.numCases}}</p>
            {% endfor %}

      </div>
      <div class="p-3 mb-2 bg-info text-white w-50 h-100 d-inline-block"><p><h5  style="text-align: center;">Respiratory Issues</h5></p>

              {% for item in cases_respi %}
                <p style="text-align: center;">{{item.numCases}}</p>
            {% endfor %}

      </div>
      <div class="w-100"></div>
  </div>
</div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2019</b> All rights reserved.

                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
            </div>
        </footer>
    </div>
    <script type="text/javascript">
    $(document).ready( function () {
    $('#myTable').DataTable();
} );

    </script>
    <script type="text/javascript">
    $('#myTable').DataTable( {
    dom: 'Bfrtip',
    buttons: [
        'copy', 'excel', 'pdf'
    ]
} );
</script>

    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{{url_for('static', filename='js/moment.min.js')}}"></script>
    <!-- https://momentjs.com/ -->
    <script src="{{url_for('static', filename='js/Chart.min.js')}}"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="{{url_for('static', filename='js/tooplate-scripts.js')}}"></script>
    <script src="{{url_for('static', filename='js/logo_animate.js')}}"></script>
    <script src="{{url_for('static', filename='js/translate.js')}}"></script>
</body>

</html>
